    <!--Topics start-->

    <section>
        <div class="container-fluid">
            <div class="row justify-content-center py-1 mt-4">
                <div class="col-lg-6 col-md-8 col text-center mb-4">
                    <h2 class="text-Dark font-weight-normal text-uppercase">OUR PROJECTS</h2> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12 p-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 1</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 2</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 3</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 4</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 5</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 6</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 7</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 8</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 9</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 10</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 11</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 12</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 13</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 14</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 15</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 16</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 17</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 18</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 19</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 p-1 py-1 portfolio-item first">
                    <div class="position-relative overflow-hidden">
                        <div class="project-img d-flex align-items-center justify-content-center">
                            <img class="img-fluid" src=" " alt="">
                        </div>
                        <div
                            class="portfolio-text bg-secondary d-flex flex-column align-items-center justify-content-center">
                            <h4 class="text-white mb-4">Project Name 20</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="btn btn-outline-light m-1" href="">
                                    <i class="fa fa-link"></i>
                                </a>
                                <a class="btn btn-outline-light m-1"
                                    href="../static/../static/Images/project/p1.jpg" target="_blank"
                                    data-lightbox="project">
                                    <i class="fa fa-eye"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Topics Ends-->

    <!--Footer Start-->

    <div class="container-fluid text-white py-1 px-sm-3 px-md-5" style="background-color: rgba(81, 41, 43, 0.7);">
        <div class="row pt-2">
            <div class="col-lg-4">
                <h4 class="px-1 py-3 pt-5">Get In Touch</h4>
                <p><i class="fa fa-map"> ABC, New Delhi, 10023</i></p>
                <p><i class="fa fa-phone"> +91 22334455</i></p>
                <p><i class="fa fa-envelope"> Info123@gmail.com</i></p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;" href="https://twitter.com/i/flow/login"><i
                            class="fa fa-twitter" style="color: cyan;"></i></a>
                    <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;" href="https://www.facebook.com/"><i class="fa fa-facebook-f"
                            style="color: cyan;"></i></a>
                    <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;"
                        href="https://in.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F"><i
                            class="fa fa-linkedin" style="color: cyan;"></i></a>
                    <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;" href="https://www.instagram.com/"><i class="fa fa-instagram"
                            style="color: cyan;"></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <h4 class="px-1 py-3 pt-5">Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a href="#" class="px-2 py-2"
                        style="color: ghostwhite; font-size: larger; font-family: 'Times New Roman', Times, serif;">Home</a>
                    <a href="#" class="px-2 py-2"
                        style="color: ghostwhite; font-size: larger; font-family: 'Times New Roman', Times, serif;">About</a>
                    <a href="#" class="px-2 py-2"
                        style="color: ghostwhite;  font-family: 'Times New Roman', Times, serif;">Blog</a>
                </div>

            </div>

            <div class="col-lg-4">
                <h4 class="px-1 py-3 pt-5 text-center">Query</h4>
                <form method="post">
                    <div class="form-floating mb-3">
                        <label class="container text-center" style="font-size:x-large; color: ">Name</label>
                        <input type="name" class="form-control" id="name" placeholder="Name">
                    </div>

                    <div class="form-floating mb-3">
                        <label class="container text-center" style="font-size:x-large; ">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Example@gmail.com">
                    </div>

                    <div class="form-floating mb-3">
                        <label class="container text-center" style="font-size:x-large;">Comments</label>
                        <textarea class="form-control" rows="3" placeholder="Leave a comment here"
                            id="floatingTextarea"></textarea>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-block" type="button">Button</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--Footer Ends-->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/JS/func.js"></script>