<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <!--title>{{ title_page }}</title-->
    <title>SIGN UP</title>
</head>

<body>
    <!--Nav Start-->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark nav justify-content-center">
        <!-- Links -->
        <ul class="navbar-nav pl-4 px-5">
            <li class="nav-item">
                <a class="nav-link" href="#">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ABOUT</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Activity
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Project</a>
                    <a class="dropdown-item" href="#">Exam Papers</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">BLOG</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><img
                        src="../static/Image/profile.png" alt="#Error" class="rounded-circle"
                        style="height: 35px; width: 35px;">
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('auth_login') }}">Log in</a></li>
                    <li> <a class="dropdown-item" href="{{ url_for('sign_up') }}">Sign_Up</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <!--Nav Ends-->

    <!--Sign Up Start-->

    <section>
        <div class="container-fluid" style="background-image: url(../static/Image/signup.png); background-size:1350px;">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="container py-2 " style="background-color: rgba(25, 25, 25, 0.7);">
                        <form action="">
                            <div class="row g-3">
                                <div class="col mb-3">
                                    <label class="form-label" style="color:ghostwhite; font-size: larger;">First
                                        Name</label>
                                    <input type="text" class="form-control" placeholder="First name"
                                        aria-label="First name">
                                </div>
                                <div class="col mb-3">
                                    <label class="form-label" style="color: ghostwhite; font-size: larger;">Last
                                        Name</label>
                                    <input type="text" class="form-control" placeholder="Last name"
                                        aria-label="Last name">
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" style="color:ghostwhite; font-size: larger;">Email
                                    address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" style="color:ghostwhite; font-size: larger;">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>

                            <div class="mb-3">
                                <label class="form-label" style="color:ghostwhite; font-size: larger;">Current Address</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" style="color:ghostwhite; font-size: larger;">Permanent Address </label>
                                <input type="text" class="form-control" id="inputAddress2"
                                    placeholder="Apartment, studio, or floor">
                            </div>
                            <div class="mb-3">
                                <label class="form-label" style="color:ghostwhite; font-size: larger;">City</label>
                                <input type="text" class="form-control" id="inputCity">
                            </div>

                            <div class="row g-3">
                                <div class="col mb-3">
                                    <label class="form-label" style="color:ghostwhite; font-size: larger;">State</label>
                                    <select id="inputState" class="form-select">
                                        <option selected>Select Your State.</option>
                                        <option> Andhra Pradesh</option>
                                        <option> Arunachal Pradesh </option>
                                        <option> Assam </option>
                                        <option> Bihar </option>
                                        <option> Chhattisgarh </option>
                                        <option> Delhi</option>
                                        <option> Goa </option>
                                        <option> Gujarat </option>
                                        <option> Haryana </option>
                                        <option> Himachal Pradesh </option>
                                        <option> Jharkhand </option>
                                        <option> Karnataka </option>
                                        <option> Kerala </option>
                                        <option> Madhya Pradesh</option>
                                        <option> Maharashtra </option>
                                        <option> Manipur </option>
                                        <option> Meghalaya </option>
                                        <option> Mizoram </option>
                                        <option> Nagaland </option>
                                        <option> Odisha </option>
                                        <option> Punjab </option>
                                        <option> Rajasthan </option>
                                        <option> Sikkim </option>
                                        <option> Tamil Nadu </option>
                                        <option> Telangana </option>
                                        <option> Tripura </option>
                                        <option> Uttar Pradesh </option>
                                        <option> Uttarakhand </option>
                                        <option> West Bengal </option>
                                    </select>
                                </div>
                                <div class="row col-lg-7 align-items-center">
                                    <div class="col mb-3"><label class="form-label" style="color:ghostwhite; font-size: larger;">Zip</label>
                                    </div>
                                    <div class="col-md-10 mb-3">
                                        <input type="text" class="form-control" id="inputZip">
                                    </div>
                                </div>
                                <br>

                                <div class="px-4 mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" style="color:ghostwhite; font-size: larger;"
                                            for="gridCheck">
                                            All the provided Details are Correct!..
                                        </label>
                                    </div>
                                </div>
                                <div class="px-4 mb-3">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="gridCheck">
                                        <label class="form-check-label" style="color:ghostwhite; font-size: larger;"
                                            for="gridCheck">
                                            I agreed to all the <a href="#" style="color: black;">Terms & Conditions </a>..
                                        </label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-primary btn-block" type="submit">Submit form</button>
                                </div>
                        </form>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Sign Up End-->

    <!--Footer Start-->

    <div class="container-fluid text-white py-1 px-sm-3 px-md-5" style="background-color: rgba(81, 41, 43, 0.7);">
        <div class="row pt-2">
            <div class="col-lg-4">
                <h4 class="px-1 py-3 pt-5">Get In Touch</h4>
                <p><i class="fa fa-map"> ABC, New Delhi, 10023</i></p>
                <p><i class="fa fa-phone"> +91 22334455</i></p>
                <p><i class="fa fa-envelope"> Info123@gmail.com</i></p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;" href="https://twitter.com/i/flow/login"><i
                            class="fa fa-twitter" style="color: cyan;"></i></a>
                    <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;" href="https://www.facebook.com/"><i class="fa fa-facebook-f"
                            style="color: cyan;"></i></a>
                    <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;"
                        href="https://in.linkedin.com/?original_referer=https%3A%2F%2Fwww.google.com%2F"><i
                            class="fa fa-linkedin" style="color: cyan;"></i></a>
                    <a class="btn btn-outline-info rounded-circle text-center mr-2 px-0"
                        style="width: 38px; height: 38px;" href="https://www.instagram.com/"><i class="fa fa-instagram"
                            style="color: cyan;"></i></a>
                </div>
            </div>

            <div class="col-lg-4">
                <h4 class="px-1 py-3 pt-5">Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a href="#" class="px-2 py-2"
                        style="color: ghostwhite; font-size: larger; font-family: 'Times New Roman', Times, serif;">Home</a>
                    <a href="#" class="px-2 py-2"
                        style="color: ghostwhite; font-size: larger; font-family: 'Times New Roman', Times, serif;">About</a>
                    <a href="#" class="px-2 py-2"
                        style="color: ghostwhite;  font-family: 'Times New Roman', Times, serif;">Blog</a>
                </div>

            </div>

            <div class="col-lg-4">
                <h4 class="px-1 py-3 pt-5 text-center">Query</h4>
                <form method="post">
                    <div class="form-floating mb-2">
                        <label class="container text-center" style="font-size:x-large; color: ">Name</label>
                        <input type="name" class="form-control" id="name" placeholder="Name">
                    </div>

                    <div class="form-floating mb-2">
                        <label class="container text-center" style="font-size:x-large; ">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Example@gmail.com">
                    </div>

                    <div class="form-floating mb-2">
                        <label class="container text-center" style="font-size:x-large;">Comments</label>
                        <textarea class="form-control" rows="3" placeholder="Leave a comment here"
                            id="floatingTextarea"></textarea>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary btn-block" type="button">Button</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--Footer Ends-->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/JS/func.js"></script>
</body>

</html>